a {
	text-decoration: none;
}

body {
	font-size: 62.5%;
	max-width: 1280px;
	margin: 0 auto;
}

.wrapper {
	padding: 0.5rem 3rem;
}

header, 
header nav ul,
.logo,
.courses {
	display: flex;
}

.logo, .courses {
	align-items: center;
}


header {
	height: 60px;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
	color: rgba(0, 0, 255, 0.644);
	font-weight: bold;
}

header nav {
	width: 20%;
}

header nav ul{
	width: 100%;
	flex-direction: row;
	justify-content: space-between
}

@media screen and (max-width: 1139px) {
	/* body {
		margin: 0 1.25rem;
	} */
}