a {
	text-decoration: none;
}

header {
	width: 100%;
	display: flex;
}

header ul {
	display: flex;
}

.welcome {
	width: 100%;
	display: flex;
}

.welcome>h2 {
	margin-right: auto;
}

.promo {
	display: flex;
}

.promo-inner-wrapper {
	flex-basis: 50%;
}

.promo-inner-news {
	display: flex;
	flex-wrap: wrap;
}

.promo-inner-news>* {
	flex: 1 1 50%;
}

.news-inner-wrapper {
	display: flex;
}

.news-inner-wrapper>* {
	flex: 1 1 33%;
}